*{
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
}

body{
    display: grid;
    justify-content: center;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    height: 100%;
    width:100%;
    font-size: 14px;

}

.grid-container {
    margin: 50px 100px 50px 100px;
    display: grid;
    height: 80vh;
    width: 70vw;
    grid-template-columns: 1fr 1fr;
    background-color: aliceblue;
    border-radius: 20px;
}

.col1{
    height: 100%;
    width: 50%;
    margin-left: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title, .subtitle{
    display: block;
    text-align: left;
}

.title{
    margin-top: 40px;
    font-size: 36px;
    font-weight: 700;
}

.subtitle{
    display: flex;
    font-size: 14px;
}

img{
    margin-top: 30px;
}

.col2{
    margin-top: 80px;
    width: 260px;
    padding-left: 100px;
}

.form-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end; 
}

.form-login input{
    display: flex;
    height: 36px;
    width: 260px;
    border: none;
    border-radius: 10px;
    background: #E9EFF6;
    padding-left: 8px;
    margin-top: 14px;
}

.btn-SignIn{
    width: 260px;
    height: 36px;
    background-color: #4460F1 ;
    border: none;
    border-radius: 10px;
    box-shadow:2px 2px 2px 2px #4460F1;
    color: white;
    margin-bottom: 14px;
}

.form-login a {
    display: flex;
    text-align: right;
    text-decoration: none;
    margin-bottom: 14px;
    color: #757575;
}

.middle-line {
    position: relative;
    display: inline-block;
    width:100%;
    margin-top: 14px;
    text-align: center;    
}

.middle-line::before,
.middle-line::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 1px;
    background-color: #000;
    color: #757575;
}

.middle-line::before {
    left: 0px;
}

.middle-line::after {
    right: 0px;
}

.btn-redes-sociais {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-google, .btn-facebook{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 36px;
    margin-top: 14px;
    border: 0.5px solid #757575;
    border-radius: 10px;
}





