*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Open Sans", sans-serif;
}

header{
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(113,69,224,1) 45%, rgba(162,0,255,1) 100%);
}

ul{
    display: flex;
    list-style-type: none;
}

ul li a{
    padding: 0 100px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

main{
    display: flex;
    height: calc(100vh - 100px);
    align-items: center;
    justify-content: space-evenly;
}

.img-perfil{
    max-width: 600px;
    height: auto;
}

.content-left{
    width: 30%;
}

main h1{
    font-size: 54px;
    color: #7043df;
    text-transform: uppercase;
    padding-bottom: 20px;
}

main .btn-contato{
    font-size: 20px;
    width: 100px;
    height: 30px;
    background-color: #1AD920;
    color: white;
    border-radius: 20px;
    border: none;
    box-shadow:5px 5px 5px #7043df;
}

section {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
  }
  
section .first-card{
    max-width: 300px;
    max-height: 600px;
    padding: 60px 30px 60px 30px;
    border-radius: 10%;
    box-shadow: 10px 5px 5px #0A1D56;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(113,69,224,1) 45%, rgba(162,0,255,1) 100%);
    color: white;
  }
  
section .second-card {
    max-width: 300px;
    max-height: 600px;
    padding: 60px 30px 60px 30px;
    border-radius: 10%;
    box-shadow: 10px 5px 5px #0A1D56;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(113,69,224,1) 45%, rgba(162,0,255,1) 100%);
    color: white;
  }
  
section .third-card {
    max-width: 300px;
    max-height: 600px;
    padding: 60px 30px 60px 30px;
    border-radius: 10%;
    box-shadow: 10px 5px 5px #0A1D56;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(113,69,224,1) 45%, rgba(162,0,255,1) 100%);
    color: white;
  }

footer{
    text-align: center;
    margin-top: 200px;
}